# .clang-format for One True Brace (OTB) style
BasedOnStyle: LLVM
BreakBeforeBraces: Attach
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowAllParametersOfDeclarationOnNextLine: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ColumnLimit: 0
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
DerivePointerAlignment: false